version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app  # Esto permite ver cambios en vivo sin reconstruir
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=tebasaenterar.db