body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #2b2b2b;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #033778;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
img {
    border-radius: 4px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input[type="text"],
input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
button {
    background-color: #00AADB;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #028bb5;
}